.backgrounds-child9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightblue);
  width: 1470px;
  height: 1231px;
  opacity: 0.6;
}
.backgrounds-child10 {
  position: absolute;
  top: 0;
  left: 184px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #152ae9,
    #00a3ff 50.06%,
    #0047ff
  );
  width: 1286px;
  height: 1231px;
  opacity: 0.3;
}
.backgrounds5 {
  position: absolute;
  top: 115px;
  left: 70px;
  width: 1470px;
  height: 1231px;
}
.bill1,
.table-design-child36 {
  position: absolute;
  top: 0;
  left: 541px;
}
.table-design-child36 {
  left: 0;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1201px;
  height: 758px;
}
.bill-information {
  position: absolute;
  top: 32px;
  left: 42px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-darkslateblue-100);
}
.table-design-child37 {
  position: absolute;
  top: 97px;
  left: 37px;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1128px;
  height: 239px;
}
.doctor-list2 {
  position: absolute;
  top: 54px;
  left: 920px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--basic);
}
.date-see-doctor17092023,
.id-clinic-a790,
.id-prescription-fgh678 {
  position: absolute;
  top: 138px;
  left: 904px;
  font-weight: 300;
  display: inline-block;
  width: 171px;
}
.date-see-doctor17092023,
.id-prescription-fgh678 {
  top: 187px;
  width: 229px;
}
.id-prescription-fgh678 {
  top: 236px;
}
.table-design9 {
  position: absolute;
  top: 71px;
  left: 0;
  width: 1201px;
  height: 758px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.table-design-child38 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1128px;
  height: 351px;
}
.table-design-child39 {
  position: absolute;
  top: 107px;
  left: 61.36px;
  background-color: var(--color-aliceblue-100);
  width: 1007.08px;
  height: 42px;
}
.prescription {
  position: absolute;
  top: 51px;
  left: 25px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: inline-block;
  width: 155px;
}
.actions4,
.id-doctor,
.id-patient,
.name-medicine,
.node {
  position: absolute;
  top: 128px;
  left: 975px;
  font-weight: 300;
  display: inline-block;
  width: 84.83px;
}
.id-doctor,
.id-patient,
.name-medicine,
.node {
  left: 679px;
  width: 90.24px;
}
.id-doctor,
.id-patient,
.name-medicine {
  left: 441px;
  width: 115.51px;
}
.id-doctor,
.id-patient {
  left: 256px;
  width: 104px;
}
.id-patient {
  left: 118px;
  width: 73px;
}
.group-child61 {
  position: absolute;
  top: 0;
  left: 885.83px;
  border-radius: var(--br-5xs);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 35px;
  height: 31.82px;
}
.afff,
.dfgh {
  position: absolute;
  top: 5px;
  display: inline-block;
}
.dfgh {
  left: 615.83px;
  color: var(--color-darkslateblue-100);
  width: 55.95px;
}
.afff {
  left: 192.83px;
}
.afff,
.ninacinamine,
.ninacinamine1 {
  font-weight: 500;
  width: 162.43px;
}
.ninacinamine {
  position: absolute;
  top: 5px;
  left: 377.83px;
  display: inline-block;
}
.ninacinamine1 {
  top: 74px;
  left: 376.83px;
}
.afff1,
.ninacinamine1,
.ninacinamine2 {
  position: absolute;
  display: inline-block;
}
.ninacinamine2 {
  top: 143px;
  left: 377.83px;
  font-weight: 500;
  width: 162.43px;
}
.afff1 {
  top: 5px;
  left: 54.14px;
  color: var(--color-darkslateblue-100);
  width: 128.14px;
}
.group-child62 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 32px;
  height: 27px;
}
.trash-1-icon17 {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.rectangle-parent24,
.rectangle-parent26 {
  position: absolute;
  top: 0;
  left: 947.83px;
  width: 32px;
  height: 27px;
}
.rectangle-parent26 {
  top: 60px;
  left: 0;
}
.group-child65,
.rectangle-parent25 {
  position: absolute;
  top: 79px;
  left: 947.83px;
  width: 32px;
  height: 87px;
}
.group-child65 {
  top: 52.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-aliceblue-200);
  box-sizing: border-box;
  width: 988.23px;
  height: 1px;
}
.rectangle-parent23 {
  position: absolute;
  top: 167px;
  left: 63.17px;
  width: 987.23px;
  height: 166px;
  color: var(--color-steelblue);
}
.hg1 {
  color: var(--color-darkslateblue-100);
}
.drjacob-ryan44,
.drjacob-ryan45,
.hg,
.hg2 {
  position: absolute;
  top: 69px;
  left: 615.83px;
  display: inline-block;
  width: 55.95px;
}
.drjacob-ryan44,
.drjacob-ryan45,
.hg2 {
  top: 138px;
}
.drjacob-ryan44,
.drjacob-ryan45 {
  top: 69px;
  left: 192.83px;
  font-weight: 500;
  color: var(--color-steelblue);
  width: 162.43px;
}
.drjacob-ryan45 {
  top: 138px;
}
.jan-202212,
.jan-202213 {
  position: absolute;
  top: 69px;
  left: 54.14px;
  color: var(--color-darkslateblue-100);
  display: inline-block;
  width: 128.14px;
}
.jan-202213 {
  top: 138px;
  left: 54.83px;
}
.group-child66 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 35px;
  height: 30px;
}
.edit-button-1-icon17 {
  position: absolute;
  top: 5px;
  left: 11px;
  width: 20px;
  height: 21.43px;
  object-fit: cover;
}
.rectangle-parent27,
.rectangle-parent28 {
  position: absolute;
  top: 69px;
  left: 885.83px;
  width: 35px;
  height: 30px;
}
.rectangle-parent28 {
  top: 131px;
}
.edit-button-2-icon {
  position: absolute;
  top: 0;
  left: 893.83px;
  width: 20px;
  height: 21.43px;
  object-fit: cover;
}
.group-child68 {
  position: absolute;
  top: 116.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-aliceblue-200);
  box-sizing: border-box;
  width: 988.23px;
  height: 1px;
}
.hg-parent {
  position: absolute;
  top: 172px;
  left: 63.17px;
  width: 987.23px;
  height: 161px;
  color: var(--color-lavenderblush);
}
.table-design10 {
  position: absolute;
  top: 418px;
  left: 37px;
  width: 1128px;
  height: 351px;
  font-size: var(--font-size-sm);
}
.mid-content-section8 {
  position: absolute;
  top: 286px;
  left: 297px;
  width: 1201px;
  height: 829px;
  font-size: var(--font-size-23xl);
  color: var(--color-darkslateblue-100);
}
.bill-child,
.bill-item {
  position: absolute;
  top: 175px;
  left: 1449px;
  border-radius: var(--br-xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 48px;
  height: 48px;
}
.bill-item {
  left: 1389px;
}
.hospital-1-icon5,
.notifications-1-icon5,
.user-1-icon5 {
  position: absolute;
  top: 185px;
  left: 1400px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.hospital-1-icon5,
.notifications-1-icon5 {
  top: 188px;
  left: 1462px;
}
.hospital-1-icon5 {
  top: 0;
  left: 0;
  width: 177px;
  height: 115px;
}
.pital7 {
  color: var(--color-black);
}
.hospital-txt5 {
  line-break: anywhere;
  width: 100%;
}
.hospital9 {
  position: absolute;
  top: 77px;
  left: 100px;
  letter-spacing: 0.1em;
  line-height: 50px;
  display: flex;
  align-items: center;
  width: 265px;
}
.hospital-1-parent3 {
  position: absolute;
  top: 115px;
  left: 259px;
  width: 365px;
  height: 127px;
  text-align: center;
  font-size: var(--h3-size);
  color: var(--color-mediumblue);
}
.desktop-wallpaper-doctor-femal1,
.sidebar-child31 {
  position: absolute;
  top: 468px;
  left: 361px;
  width: 191px;
  height: 248px;
}
.sidebar-child31 {
  top: 0;
  left: 23px;
  border-radius: 50%;
  background-color: var(--basic);
  box-shadow: 0 4px 15px 1px rgba(216, 210, 252, 0.64);
  width: 70px;
  height: 70px;
}
.man-1-icon5 {
  position: absolute;
  top: 6px;
  left: 26px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.sidebar-child32,
.sidebar-child33 {
  position: absolute;
  top: 172px;
  left: 30px;
  border-radius: var(--br-xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 64px;
  height: 64px;
}
.sidebar-child33 {
  top: 9px;
  left: 119px;
  border-radius: var(--br-5xs);
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.right-arrows-1-icon6 {
  position: absolute;
  top: 16px;
  left: 127px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.dashboard-icon-child17 {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--basic);
}
.dashboard-icon-child17,
.dashboard-icon-child18,
.dashboard-icon-child19,
.dashboard-icon-child20 {
  position: absolute;
  border: 2px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
}
.dashboard-icon-child18 {
  top: 19px;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--basic);
}
.dashboard-icon-child19,
.dashboard-icon-child20 {
  left: 19px;
}
.dashboard-icon-child19 {
  top: 0;
  border-radius: var(--br-7xs);
  background-color: var(--basic);
}
.dashboard-icon-child20 {
  top: 19px;
  border-radius: 50%;
  background-color: var(--color-mistyrose);
}
.dashboard-icon5 {
  position: absolute;
  top: 187px;
  left: 44px;
  width: 33px;
  height: 33px;
}
.appointment-1-icon5,
.power-2-icon5,
.setting-lines-1-icon5,
.team-1-icon5 {
  position: absolute;
  top: 284px;
  left: 42px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.power-2-icon5,
.setting-lines-1-icon5,
.team-1-icon5 {
  top: 377px;
  left: 44px;
}
.power-2-icon5,
.team-1-icon5 {
  top: 956px;
  left: 47px;
}
.team-1-icon5 {
  top: 474px;
  left: 44px;
  width: 27px;
  height: 27px;
}
.doctor-2-icon6,
.security-payment-2-icon5,
.setting-lines-2-icon2 {
  position: absolute;
  top: 572px;
  left: 44px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.security-payment-2-icon5,
.setting-lines-2-icon2 {
  top: 664px;
}
.security-payment-2-icon5 {
  top: 762px;
  left: 41px;
  width: 29px;
  height: 29px;
}
.admin5,
.sarah-smith5 {
  margin: 0;
}
.admin5 {
  text-transform: uppercase;
}
.sarah-smith-admin-container5 {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 24px;
  font-weight: 900;
}
.sidebar5 {
  position: absolute;
  top: 182px;
  left: 120px;
  width: 151px;
  height: 982px;
  text-align: center;
  font-size: var(--text-hero-size);
  color: var(--color-darkslateblue-100);
}
.id-doctor-ah,
.id-patient-67ah {
  position: absolute;
  top: 489px;
  left: 395px;
  font-weight: 300;
}
.id-doctor-ah {
  top: 544px;
}
.id-examination-service,
.total-money-432345678 {
  position: absolute;
  top: 599px;
  left: 395px;
  font-weight: 300;
}
.total-money-432345678 {
  top: 654px;
  left: 390px;
}
.name-doctor-kim,
.name-examination-service,
.name-patient-kim {
  position: absolute;
  top: 599px;
  left: 757px;
  font-weight: 300;
}
.name-doctor-kim,
.name-patient-kim {
  top: 495px;
}
.name-doctor-kim {
  top: 544px;
}
.bill-inner,
.print-bill {
  position: absolute;
  left: 1224px;
  width: 120px;
}
.bill-inner {
  top: 646px;
  border-radius: var(--br-xl);
  background-color: #d7bcec;
  height: 35px;
}
.print-bill {
  top: 648px;
  font-size: var(--font-size-mini);
  color: var(--color-darkslateblue-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
}
.add2,
.group-child69 {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
}
.group-child69 {
  border-radius: var(--br-xl);
  background-color: var(--color-mediumseagreen-100);
  height: 27px;
}
.add2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
}
.rectangle-parent29,
.rectangle-parent30 {
  position: absolute;
  top: 873px;
  left: 1384px;
  width: 56px;
  height: 27px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--basic);
}
.rectangle-parent30 {
  top: 1012px;
}
.group-child71,
.save {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
}
.group-child71 {
  border-radius: var(--br-xl);
  background-color: var(--color-royalblue);
  height: 40px;
}
.save {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38.52px;
}
.rectangle-parent31,
.rectangle-parent32 {
  position: absolute;
  top: 1067px;
  left: 891px;
  width: 70px;
  height: 40px;
  text-align: center;
  font-size: var(--text-body-size);
  color: var(--basic);
}
.rectangle-parent32 {
  top: 951px;
  left: 1384px;
  width: 56px;
  height: 27px;
  font-size: var(--font-size-mini);
}
.bill {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1405px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-kanit);
}
