.backgrounds-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightblue);
  width: 1470px;
  height: 1231px;
  opacity: 0.6;
}
.backgrounds-child1 {
  position: absolute;
  top: 0;
  left: 184px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #2bc0ff 24.02%,
    #2f43fb 49.02%,
    #4890fb 77.15%
  );
  width: 1286px;
  height: 1231px;
  opacity: 0.3;
}
.backgrounds-child2 {
  position: absolute;
  top: 820px;
  left: 1060px;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  width: 380px;
  height: 376px;
  opacity: 0.6;
}
.backgrounds1 {
  position: absolute;
  top: 115px;
  left: 70px;
  width: 1470px;
  height: 1231px;
}
.dashboard1 {
  position: absolute;
  top: 0;
  left: 517px;
  font-size: var(--font-size-23xl);
  font-weight: 500;
  color: var(--color-darkslateblue-100);
}
.mid-content-section-child {
  position: absolute;
  top: 230px;
  left: 2px;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 598px;
  height: 418px;
}
.old-doctor {
  position: absolute;
  top: 285px;
  left: 490px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.mid-content-section-item {
  position: absolute;
  top: 230px;
  left: 628px;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 588px;
  height: 418px;
}
.hospital3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.apr,
.feb,
.jan,
.jun,
.mar,
.may {
  position: absolute;
  top: 318px;
  left: 46px;
}
.apr,
.feb,
.jun,
.mar,
.may {
  left: 85px;
}
.apr,
.jun,
.mar,
.may {
  left: 121px;
}
.apr,
.jun,
.may {
  left: 157px;
}
.jun,
.may {
  left: 200px;
}
.jun {
  left: 246px;
}
.aug,
.dec,
.jul,
.nov,
.oct,
.sep {
  position: absolute;
  top: 318px;
  left: 289px;
}
.aug,
.dec,
.nov,
.oct,
.sep {
  left: 327px;
}
.dec,
.nov,
.oct,
.sep {
  left: 374px;
}
.dec,
.nov,
.oct {
  left: 420px;
}
.dec,
.nov {
  left: 469px;
}
.dec {
  left: 508px;
}
.common-diseases-graph-child3,
.common-diseases-graph-child4 {
  position: absolute;
  top: 313px;
  left: 46px;
  width: 485.01px;
  height: 3.03px;
  opacity: 0.2;
}
.common-diseases-graph-child4 {
  top: 253px;
}
.common-diseases-graph-child5,
.common-diseases-graph-child6,
.common-diseases-graph-child7 {
  position: absolute;
  top: 193px;
  left: 46px;
  width: 485.01px;
  height: 3.03px;
  opacity: 0.2;
}
.common-diseases-graph-child6,
.common-diseases-graph-child7 {
  top: 133px;
}
.common-diseases-graph-child7 {
  top: 73px;
}
.div24,
.div25,
.div26,
.div27,
.div28 {
  position: absolute;
  top: 301px;
  left: 15px;
  color: var(--color-silver);
}
.div25,
.div26,
.div27,
.div28 {
  top: 241px;
  left: 5px;
}
.div26,
.div27,
.div28 {
  top: 181px;
}
.div27,
.div28 {
  top: 121px;
}
.div28 {
  top: 61px;
}
.common-diseases-graph-child8 {
  position: absolute;
  top: 114px;
  left: 51.02px;
  width: 468.55px;
  height: 206px;
}
.common-diseases-graph-child9 {
  position: absolute;
  top: 75.19px;
  left: 46.06px;
  width: 474.77px;
  height: 240.29px;
}
.common-diseases-graph3 {
  position: absolute;
  top: 266px;
  left: 45px;
  width: 535px;
  height: 342px;
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-100);
}
.mid-content-section-inner {
  position: absolute;
  top: 94px;
  left: 0;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 290px;
  height: 105px;
}
.icon {
  position: absolute;
  top: 124px;
  left: 41px;
  width: 51px;
  height: 51px;
  object-fit: cover;
}
.p {
  margin: 0;
}
.revenue-today {
  position: absolute;
  top: 118px;
  left: 111px;
}
.mid-content-section-child1 {
  position: absolute;
  top: 94px;
  left: 307px;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 290px;
  height: 105px;
}
.icon1 {
  position: absolute;
  top: 122px;
  left: 356px;
  width: 53px;
  height: 53px;
  object-fit: cover;
}
.mid-content-section-child2 {
  position: absolute;
  top: 94px;
  left: 616px;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 290px;
  height: 105px;
}
.icon2 {
  position: absolute;
  top: 119px;
  left: 661px;
  width: 41px;
  height: 52px;
  object-fit: cover;
}
.relieved-today {
  position: absolute;
  top: 118px;
  left: 425px;
}
.in-doctor-today {
  margin: 0;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
}
.in-doctor-today-container {
  position: absolute;
  top: 118px;
  left: 719px;
}
.mid-content-section-child3 {
  position: absolute;
  top: 94px;
  left: 926px;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 290px;
  height: 105px;
}
.icon3,
.ventilator {
  position: absolute;
  top: 118px;
  left: 1019px;
}
.icon3 {
  top: 120px;
  left: 964px;
  width: 41px;
  height: 52px;
  object-fit: cover;
}
.table-design-child3 {
  position: absolute;
  top: 392px;
  left: 0;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 814px;
  height: 378px;
}
.table-design-child4 {
  position: absolute;
  top: 486px;
  left: 32px;
  background-color: var(--color-aliceblue-100);
  width: 730px;
  height: 42px;
}
.diseases {
  position: absolute;
  top: 503px;
  left: 553px;
  font-weight: 300;
}
.booked-appointment {
  position: absolute;
  top: 429px;
  left: 33px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.div29 {
  position: absolute;
  top: 503px;
  left: 68px;
  font-weight: 300;
  display: inline-block;
  width: 15px;
  height: 21px;
  opacity: 0.9;
}
.actions1,
.assigned-doctor,
.date1,
.doctor-name {
  position: absolute;
  top: 503px;
  left: 450px;
  font-weight: 300;
}
.actions1,
.assigned-doctor,
.doctor-name {
  left: 264px;
}
.actions1,
.doctor-name {
  left: 106px;
}
.actions1 {
  left: 685px;
}
.table-design-child5 {
  position: absolute;
  top: 5px;
  left: 272px;
  border-radius: 50%;
  background-color: var(--color-plum);
  width: 12px;
  height: 12px;
}
.new-doctor {
  position: absolute;
  top: 0;
  left: 292px;
  color: var(--color-black);
}
.table-design-child6 {
  position: absolute;
  top: 5px;
  left: 454px;
  border-radius: 50%;
  background-color: #d8d2fc;
  width: 12px;
  height: 12px;
}
.group-child24 {
  position: absolute;
  top: 4px;
  left: 517px;
  background-color: var(--color-salmon-200);
  width: 74px;
  height: 23px;
}
.div30 {
  position: absolute;
  top: 9px;
  left: 28px;
  font-weight: 300;
  display: inline-block;
  width: 25px;
  height: 21px;
}
.group-child25 {
  position: absolute;
  top: 0;
  left: 635px;
  border-radius: var(--br-5xs);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 30px;
  height: 30px;
}
.drjacob-ryan20,
.jan-20226 {
  position: absolute;
  top: 7px;
  left: 402px;
}
.drjacob-ryan20 {
  top: 6px;
  left: 235px;
  font-weight: 500;
  color: var(--color-steelblue);
}
.fever,
.ramesh-kumar3 {
  position: absolute;
  top: 7px;
  left: 72px;
}
.fever {
  left: 518px;
  font-weight: 300;
  color: var(--basic);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
}
.edit-button-1-icon6 {
  position: absolute;
  top: 7px;
  left: 643px;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.group-child26 {
  position: absolute;
  top: 0;
  left: 685px;
  border-radius: var(--br-5xs);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 30px;
  height: 30px;
}
.trash-1-icon6 {
  position: absolute;
  top: 7px;
  left: 694px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.group-child27 {
  position: absolute;
  top: 51.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-aliceblue-200);
  box-sizing: border-box;
  width: 723px;
  height: 1px;
}
.rectangle-parent10 {
  position: absolute;
  top: 546px;
  left: 35px;
  width: 722px;
  height: 52px;
}
.rectangle-parent11,
.rectangle-parent12,
.table-design5 {
  position: absolute;
  top: 612px;
  left: 36px;
  width: 722px;
  height: 52px;
}
.rectangle-parent12,
.table-design5 {
  top: 682px;
}
.table-design5 {
  top: 285px;
  left: 12px;
  width: 814px;
  height: 770px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslateblue-100);
}
.mid-content-section5 {
  position: absolute;
  top: 261px;
  left: 300px;
  width: 1216px;
  height: 1055px;
  font-size: var(--text-hero-size);
  color: var(--color-gray-400);
}
.sidebar-child7 {
  position: absolute;
  top: 9px;
  left: 23px;
  border-radius: 50%;
  background-color: var(--basic);
  box-shadow: 0 4px 15px 1px rgba(216, 210, 252, 0.64);
  width: 70px;
  height: 70px;
}
.man-1-icon1 {
  position: absolute;
  top: 0;
  left: 21px;
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.sidebar-child10,
.sidebar-child11,
.sidebar-child12,
.sidebar-child13,
.sidebar-child14,
.sidebar-child15,
.sidebar-child8,
.sidebar-child9 {
  position: absolute;
  top: 180px;
  left: 29px;
  border-radius: var(--br-xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 64px;
  height: 64px;
}
.sidebar-child10,
.sidebar-child11,
.sidebar-child12,
.sidebar-child13,
.sidebar-child14,
.sidebar-child15,
.sidebar-child9 {
  top: 303px;
  left: 28px;
}
.sidebar-child10,
.sidebar-child11,
.sidebar-child12,
.sidebar-child13,
.sidebar-child14,
.sidebar-child15 {
  top: 426px;
  left: 26px;
  width: 66px;
}
.sidebar-child11,
.sidebar-child12,
.sidebar-child13,
.sidebar-child14,
.sidebar-child15 {
  top: 546px;
  left: 25px;
  width: 64px;
}
.sidebar-child12,
.sidebar-child13,
.sidebar-child14,
.sidebar-child15 {
  top: 667px;
  left: 23px;
}
.sidebar-child13,
.sidebar-child14,
.sidebar-child15 {
  top: 935px;
}
.sidebar-child14,
.sidebar-child15 {
  top: 790px;
}
.sidebar-child15 {
  top: 18px;
  left: 119px;
  border-radius: var(--br-5xs);
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.right-arrows-1-icon1 {
  position: absolute;
  top: 25px;
  left: 127px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.dashboard-icon-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--basic);
}
.dashboard-icon-child1,
.dashboard-icon-child2,
.dashboard-icon-child3,
.dashboard-icon-child4 {
  position: absolute;
  border: 2px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
}
.dashboard-icon-child2 {
  top: 19px;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--basic);
}
.dashboard-icon-child3,
.dashboard-icon-child4 {
  left: 19px;
}
.dashboard-icon-child3 {
  top: 0;
  border-radius: var(--br-7xs);
  background-color: var(--basic);
}
.dashboard-icon-child4 {
  top: 19px;
  border-radius: 50%;
  background-color: var(--color-mistyrose);
}
.dashboard-icon1 {
  position: absolute;
  top: 194px;
  left: 43px;
  width: 33px;
  height: 33px;
}
.appointment-1-icon1,
.power-2-icon1,
.setting-lines-1-icon1,
.team-1-icon1 {
  position: absolute;
  top: 322px;
  left: 48px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.power-2-icon1,
.setting-lines-1-icon1,
.team-1-icon1 {
  top: 446px;
  left: 47px;
}
.power-2-icon1,
.team-1-icon1 {
  top: 958px;
  left: 44px;
}
.team-1-icon1 {
  top: 564px;
  left: 43px;
  width: 27px;
  height: 27px;
}
.doctor-2-icon2,
.security-payment-2-icon1 {
  position: absolute;
  top: 683px;
  left: 44px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.security-payment-2-icon1 {
  top: 808px;
  left: 41px;
  width: 29px;
  height: 29px;
}
.admin1 {
  margin: 0;
  text-transform: uppercase;
}
.sarah-smith-admin-container1 {
  position: absolute;
  top: 79px;
  left: 0;
  line-height: 24px;
  font-weight: 900;
}
.sidebar1 {
  position: absolute;
  top: 166px;
  left: 103px;
  width: 151px;
  height: 999px;
  text-align: center;
  font-size: var(--text-hero-size);
}
.dashboard-child,
.dashboard-item {
  position: absolute;
  top: 175px;
  left: 1449px;
  border-radius: var(--br-xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 48px;
  height: 48px;
}
.dashboard-item {
  left: 1389px;
}
.notifications-1-icon1,
.user-1-icon1 {
  position: absolute;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.user-1-icon1 {
  top: 185px;
  left: 1400px;
  cursor: pointer;
}
.notifications-1-icon1 {
  top: 188px;
  left: 1462px;
}
.doctors-list {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-darkslateblue-100);
}
.common-diseases-graph-child10 {
  position: absolute;
  top: 52px;
  left: 0;
  background-color: var(--color-aliceblue-100);
  width: 324px;
  height: 42px;
}
.div33,
.doctors-name,
.status4 {
  position: absolute;
  top: 67px;
  left: 31px;
  font-weight: 300;
  color: var(--color-black);
}
.doctors-name,
.status4 {
  left: 67px;
}
.status4 {
  left: 253px;
}
.drjacob-ryan24 {
  font-weight: 500;
}
.span10 {
  color: var(--color-darkslateblue-100);
}
.drjacob-ryan23 {
  position: absolute;
  top: 112px;
  left: 67px;
  display: inline-block;
  width: 142px;
}
.common-diseases-graph-child11 {
  position: absolute;
  top: 113px;
  left: 245px;
  background-color: var(--color-mediumaquamarine);
  box-shadow: 0 4px 15px #79cfa6, 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 74px;
  height: 23px;
}
.available {
  position: absolute;
  top: 114px;
  left: 253px;
  font-weight: 300;
  color: var(--basic);
}
.common-diseases-graph-child12 {
  position: absolute;
  top: 173px;
  left: 245px;
  background-color: var(--color-mediumaquamarine);
  box-shadow: 0 4px 15px #79cfa6, 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 74px;
  height: 23px;
}
.available1 {
  position: absolute;
  top: 174px;
  left: 253px;
  font-weight: 300;
  color: var(--basic);
}
.common-diseases-graph-child13 {
  position: absolute;
  top: 233px;
  left: 245px;
  background-color: var(--color-mediumaquamarine);
  box-shadow: 0 4px 15px #79cfa6;
  width: 74px;
  height: 23px;
}
.available2 {
  position: absolute;
  top: 234px;
  left: 253px;
  font-weight: 300;
  color: var(--basic);
}
.common-diseases-graph-child14 {
  position: absolute;
  top: 293px;
  left: 245px;
  background-color: var(--color-salmon-200);
  box-shadow: 0 4px 15px #ff706f;
  width: 74px;
  height: 23px;
}
.absend {
  position: absolute;
  top: 294px;
  left: 253px;
  font-weight: 300;
  color: var(--basic);
}
.rectangle-icon {
  position: absolute;
  top: 96px;
  left: 3px;
  border-radius: var(--br-5xs);
  width: 66px;
  height: 66px;
  object-fit: cover;
}
.common-diseases-graph-child15 {
  position: absolute;
  top: 154.5px;
  left: 2.5px;
  border-top: 1px solid var(--color-aliceblue-200);
  box-sizing: border-box;
  width: 321px;
  height: 1px;
}
.drrubina-delayer {
  position: absolute;
  top: 175px;
  left: 67px;
  display: inline-block;
  width: 170px;
  height: 27px;
}
.common-diseases-graph-child16 {
  position: absolute;
  top: 156px;
  left: 3px;
  border-radius: var(--br-5xs);
  width: 66px;
  height: 66px;
  object-fit: cover;
}
.common-diseases-graph-child17 {
  position: absolute;
  top: 214.5px;
  left: 2.5px;
  border-top: 1px solid var(--color-aliceblue-200);
  box-sizing: border-box;
  width: 321px;
  height: 1px;
}
.drsmith-rayen {
  position: absolute;
  top: 233px;
  left: 67px;
  display: inline-block;
  width: 158px;
}
.common-diseases-graph-child18 {
  position: absolute;
  top: 216px;
  left: 3px;
  border-radius: var(--br-5xs);
  width: 66px;
  height: 66px;
  object-fit: cover;
}
.common-diseases-graph-child19 {
  position: absolute;
  top: 274.5px;
  left: 2.5px;
  border-top: 1px solid var(--color-aliceblue-200);
  box-sizing: border-box;
  width: 321px;
  height: 1px;
}
.drjacob-ryan25 {
  position: absolute;
  top: 293px;
  left: 67px;
  display: inline-block;
  width: 142px;
}
.common-diseases-graph-child20 {
  position: absolute;
  top: 276px;
  left: 3px;
  border-radius: var(--br-5xs);
  width: 66px;
  height: 66px;
  object-fit: cover;
}
.common-diseases-graph4 {
  position: absolute;
  top: 965px;
  left: 1169px;
  width: 324px;
  height: 323px;
  font-size: var(--font-size-sm);
  color: var(--color-steelblue);
}
.common-diseases-report-container {
  position: absolute;
  top: 521px;
  left: 967px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.mon,
.tue {
  position: absolute;
  top: 838px;
  left: 1025px;
}
.tue {
  left: 1109px;
}
.fri,
.lines-icon,
.sat,
.thu,
.wed {
  position: absolute;
  top: 838px;
  left: 1192px;
}
.fri,
.lines-icon,
.sat,
.thu {
  left: 1275px;
}
.fri,
.lines-icon,
.sat {
  left: 1355px;
}
.lines-icon,
.sat {
  left: 1438px;
}
.lines-icon {
  top: 593px;
  left: 1013px;
  width: 480.01px;
  height: 243.04px;
}
.div34,
.div35,
.div36,
.div37,
.div38 {
  position: absolute;
  top: 821px;
  left: 982px;
  color: var(--color-silver);
}
.div35,
.div36,
.div37,
.div38 {
  top: 761px;
  left: 972px;
}
.div36,
.div37,
.div38 {
  top: 701px;
}
.div37,
.div38 {
  top: 641px;
}
.div38 {
  top: 581px;
}
.dashboard-child1,
.dashboard-inner {
  position: absolute;
  top: 590px;
  left: 1031px;
  background-color: var(--color-lightsteelblue);
  width: 15px;
  height: 243px;
}
.dashboard-child1 {
  top: 641px;
  background-color: var(--color-skyblue);
  height: 192px;
}
.dashboard-child2,
.dashboard-child3,
.dashboard-child4 {
  position: absolute;
  top: 705px;
  left: 1031px;
  background-color: var(--color-plum);
  width: 15px;
  height: 128px;
}
.dashboard-child3,
.dashboard-child4 {
  top: 736px;
  background-color: var(--color-salmon-100);
  height: 97px;
}
.dashboard-child4 {
  top: 623px;
  left: 1111px;
  background-color: var(--color-lightsteelblue);
  height: 210px;
}
.dashboard-child5,
.dashboard-child6,
.dashboard-child7 {
  position: absolute;
  top: 676px;
  left: 1111px;
  background-color: var(--color-skyblue);
  width: 15px;
  height: 157px;
}
.dashboard-child6,
.dashboard-child7 {
  top: 705px;
  background-color: var(--color-plum);
  height: 128px;
}
.dashboard-child7 {
  top: 802px;
  background-color: var(--color-salmon-100);
  height: 31px;
}
.dashboard-child8,
.dashboard-child9 {
  position: absolute;
  top: 651px;
  left: 1192px;
  background-color: var(--color-lightsteelblue);
  width: 15px;
  height: 182px;
}
.dashboard-child9 {
  background-color: var(--color-skyblue);
}
.dashboard-child10,
.dashboard-child11,
.dashboard-child12 {
  position: absolute;
  top: 725px;
  left: 1192px;
  background-color: var(--color-plum);
  width: 15px;
  height: 108px;
}
.dashboard-child11,
.dashboard-child12 {
  top: 736px;
  background-color: var(--color-salmon-100);
  height: 97px;
}
.dashboard-child12 {
  top: 683px;
  left: 1275px;
  background-color: var(--color-lightsteelblue);
  height: 150px;
}
.dashboard-child13,
.dashboard-child14,
.dashboard-child15 {
  position: absolute;
  top: 731px;
  left: 1275px;
  background-color: var(--color-skyblue);
  width: 15px;
  height: 102px;
}
.dashboard-child14,
.dashboard-child15 {
  top: 761px;
  background-color: var(--color-plum);
  height: 72px;
}
.dashboard-child15 {
  top: 794px;
  background-color: var(--color-salmon-100);
  height: 39px;
}
.dashboard-child16,
.dashboard-child17 {
  position: absolute;
  top: 631px;
  left: 1355px;
  background-color: var(--color-lightsteelblue);
  width: 15px;
  height: 202px;
}
.dashboard-child17 {
  top: 731px;
  background-color: var(--color-skyblue);
  height: 102px;
}
.dashboard-child18,
.dashboard-child19,
.dashboard-child20 {
  position: absolute;
  top: 761px;
  left: 1355px;
  background-color: var(--color-plum);
  width: 15px;
  height: 72px;
}
.dashboard-child19,
.dashboard-child20 {
  top: 785px;
  background-color: var(--color-salmon-100);
  height: 48px;
}
.dashboard-child20 {
  top: 594px;
  left: 1438px;
  background-color: var(--color-lightsteelblue);
  height: 239px;
}
.dashboard-child21,
.dashboard-child22,
.dashboard-child23 {
  position: absolute;
  top: 673px;
  left: 1438px;
  background-color: var(--color-skyblue);
  width: 15px;
  height: 160px;
}
.dashboard-child22,
.dashboard-child23 {
  top: 705px;
  background-color: var(--color-plum);
  height: 128px;
}
.dashboard-child23 {
  top: 736px;
  background-color: var(--color-salmon-100);
  height: 97px;
}
.hospital-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 177px;
  height: 115px;
  object-fit: cover;
}
.pital3 {
  color: var(--color-black);
}
.hospital-txt1 {
  line-break: anywhere;
  width: 100%;
}
.hospital5 {
  position: absolute;
  top: 77px;
  left: 100px;
  letter-spacing: 0.1em;
  line-height: 50px;
  display: flex;
  align-items: center;
  width: 265px;
}
.hospital-1-group {
  position: absolute;
  top: 118px;
  left: 282px;
  width: 365px;
  height: 127px;
  text-align: center;
  font-size: var(--h3-size);
  color: var(--color-mediumblue);
}
.dashboard {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1405px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-kanit);
}
