body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --text-hero: Poppins;
  --font-kanit: Kanit;

  /* font sizes */
  --text-body-size: 18px;
  --font-size-5xl: 24px;
  --text-hero-size: 20px;
  --h1-size: 56px;
  --h3-size: 40px;
  --font-size-base: 16px;
  --font-size-23xl: 42px;
  --font-size-sm: 14px;
  --font-size-mini: 15px;

  /* Colors */
  --basic: #fff;
  --color-black: #000;
  --color-dodgerblue-100: #0099ff;
  --color-gray-300: #fafafa;
  --color-gray-400: #7b7b7b;
  --color-gray-100: #1e1e1e;
  --color-gray-200: rgba(255, 255, 255, 0.61);
  --color-darkgray: #999;
  --color-darkslategray-200: #494949;
  --color-darkslategray-100: #333;
  --color-lightcyan: rgba(215, 241, 246, 0.34);
  --color-azure: #f1fafc;
  --color-mediumseagreen-100: #13bd6b;
  --color-mediumblue: #263bf6;
  --color-darkslateblue-100: #271e4a;
  --color-darkslateblue-200: rgba(39, 30, 74, 0.5);
  --color-darkslateblue-300: rgba(39, 30, 74, 0.8);
  --color-steelblue: #3f779b;
  --color-aliceblue-100: #edf4fc;
  --color-aliceblue-200: #e0e9f4;
  --color-salmon-100: #fe7e7d;
  --color-salmon-200: #ff706f;
  --color-mediumaquamarine: #79cfa6;
  --color-mistyrose: #ffdbd9;
  --color-lightblue: #c1e1ff;
  --color-plum: #e3a3e0;
  --color-skyblue: #a1d7f9;
  --color-lightsteelblue: #cbd6f3;
  --color-silver: #b6b6b6;
  --color-thistle-100: rgba(216, 210, 252, 0.8);
  --color-royalblue: #096bff;
  --color-lavenderblush: #ffeded;
  --color-darkorchid-100: #7b21b2;

  /* Gaps */
  --gap-9xs: 4px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-smi: 13px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-8xs: 5px;
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-xl: 20px;
  --br-28xl: 47px;

  /* Effects */
  --nav-shadow: 0px 3px 25px #e9e9e9;
}
