.backgrounds-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightblue);
  width: 1470px;
  height: 1231px;
  opacity: 0.6;
}
.backgrounds-child1 {
  position: absolute;
  top: 0;
  left: 184px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #152ae9,
    #00a3ff 50.06%,
    #0047ff
  );
  width: 1286px;
  height: 1231px;
  opacity: 0.3;
}
.backgrounds1 {
  position: absolute;
  top: 115px;
  left: 70px;
  width: 1470px;
  height: 1231px;
}
.profile,
.table-design-child3 {
  position: absolute;
  top: 0;
  left: 541px;
}
.table-design-child3 {
  left: 0;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 1201px;
  height: 758px;
}
.doctor-information {
  position: absolute;
  top: 32px;
  left: 42px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.mask-group-icon6 {
  position: absolute;
  top: 103px;
  left: 40px;
  width: 229px;
  height: 229px;
  object-fit: cover;
}
.table-design-child4 {
  position: absolute;
  top: 97px;
  left: 286px;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 879px;
  height: 239px;
}
.about-patient1 {
  margin: 0;
}
.about-patient,
.email {
  position: absolute;
  top: 126px;
  left: 326px;
  font-weight: 500;
}
.email {
  top: 256px;
}
.table-design-child5 {
  position: absolute;
  top: 50px;
  left: 1036px;
  border-radius: var(--br-8xs);
  background-color: var(--color-royalblue);
  width: 121px;
  height: 29px;
}
.add-doctor {
  position: absolute;
  top: 54px;
  left: 1060px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--basic);
}
.table-design-child6 {
  position: absolute;
  top: 50px;
  left: 896px;
  border-radius: var(--br-8xs);
  background-color: #41ac79;
  width: 121px;
  height: 29px;
}
.doctor-list {
  position: absolute;
  top: 54px;
  left: 920px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--basic);
}
.table-design1 {
  position: absolute;
  top: 71px;
  left: 0;
  width: 1201px;
  height: 758px;
  font-size: var(--text-body-size);
}
.table-design-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 625px;
  height: 351px;
}
.table-design-child8 {
  position: absolute;
  top: 107px;
  left: 34px;
  background-color: var(--color-aliceblue-100);
  width: 558px;
  height: 42px;
}
.past-visit-history {
  position: absolute;
  top: 50px;
  left: 35px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.table-design-child9 {
  position: absolute;
  top: 14px;
  left: 652px;
  border-radius: var(--br-28xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 476px;
  height: 351px;
}
.general-report {
  position: absolute;
  top: 50px;
  left: 685px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.actions1 {
  position: absolute;
  top: 128px;
  left: 510px;
  font-weight: 300;
}
.charges1,
.date2,
.doctor2,
.treatment1 {
  position: absolute;
  top: 127px;
  left: 423px;
  font-weight: 300;
}
.date2,
.doctor2,
.treatment1 {
  left: 305px;
}
.date2,
.doctor2 {
  left: 184px;
}
.date2 {
  left: 67px;
}
.group-child12 {
  position: absolute;
  top: 4px;
  left: 267px;
  background-color: var(--color-salmon-200);
  width: 85px;
  height: 23px;
}
.span8 {
  color: var(--color-darkslateblue-100);
}
.div18,
.drjacob-ryan12 {
  position: absolute;
  top: 6px;
  left: 391px;
}
.drjacob-ryan12 {
  top: 4px;
  left: 143px;
  font-weight: 500;
  color: var(--color-steelblue);
}
.jan-2022 {
  position: absolute;
  top: 4px;
  left: 30px;
  color: var(--color-darkslateblue-100);
}
.group-child13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 30px;
  height: 30px;
}
.edit-button-1-icon4 {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.group-child14,
.rectangle-parent5 {
  position: absolute;
  top: 0;
  left: 475px;
  width: 30px;
  height: 30px;
}
.group-child14 {
  left: 525px;
  border-radius: var(--br-5xs);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
}
.trash-1-icon4 {
  position: absolute;
  top: 7px;
  left: 534px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.group-child15 {
  position: absolute;
  top: 51.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-aliceblue-200);
  box-sizing: border-box;
  width: 548px;
  height: 1px;
}
.rectangle-parent4 {
  position: absolute;
  top: 168px;
  left: 35px;
  width: 555px;
  height: 52px;
  color: var(--color-lavenderblush);
}
.group-child17 {
  position: absolute;
  top: 0;
  left: 475px;
  border-radius: var(--br-5xs);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(185, 178, 226, 0.64);
  width: 30px;
  height: 30px;
}
.edit-button-1-icon5 {
  position: absolute;
  top: 7px;
  left: 483px;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.rectangle-parent6 {
  position: absolute;
  top: 237px;
  left: 35px;
  width: 555px;
  height: 52px;
  color: var(--color-lavenderblush);
}
.blood-test {
  position: absolute;
  top: 6px;
  left: 276px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69px;
}
.rectangle-parent7 {
  position: absolute;
  top: 299px;
  left: 35px;
  width: 555px;
  height: 52px;
  color: var(--color-lavenderblush);
}
.table-design2 {
  position: absolute;
  top: 418px;
  left: 37px;
  width: 1128px;
  height: 365px;
  font-size: var(--font-size-sm);
}
.mid-content-section1 {
  position: absolute;
  top: 286px;
  left: 297px;
  width: 1201px;
  height: 829px;
  font-size: var(--font-size-23xl);
}
.profile-doctor-child,
.profile-doctor-item {
  position: absolute;
  top: 175px;
  left: 1449px;
  border-radius: var(--br-xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 48px;
  height: 48px;
}
.profile-doctor-item {
  left: 1389px;
}
.notifications-1-icon1,
.user-1-icon1 {
  position: absolute;
  top: 185px;
  left: 1400px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.notifications-1-icon1 {
  top: 188px;
  left: 1462px;
}
.johnsmithgmailcom,
.lorem-ipsum-is {
  position: absolute;
  top: 515px;
  left: 624px;
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-darkslateblue-300);
  display: inline-block;
  width: 803px;
  height: 70px;
}
.johnsmithgmailcom {
  top: 643px;
  width: 183px;
  height: 30px;
}
.div21,
.phone-number {
  position: absolute;
  top: 613px;
  left: 863px;
  font-weight: 500;
}
.div21 {
  top: 643px;
  left: 864px;
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-darkslateblue-300);
  display: inline-block;
  width: 183px;
  height: 30px;
}
.address,
.sarju-appt-mota {
  position: absolute;
  top: 613px;
  left: 1063px;
  font-weight: 500;
}
.sarju-appt-mota {
  top: 643px;
  left: 1064px;
  font-size: var(--font-size-base);
  font-weight: 300;
  color: var(--color-darkslateblue-300);
  display: inline-block;
  width: 363px;
  height: 60px;
}
.heart-beat {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.div22 {
  position: absolute;
  top: 2px;
  left: 389px;
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-300);
}
.progress-bar-child,
.progress-bar-item {
  position: absolute;
  top: 32px;
  left: 1px;
  height: 12px;
}
.progress-bar-child {
  background-color: var(--color-aliceblue-200);
  width: 407px;
}
.progress-bar-item {
  background-color: #c30fba;
  width: 296px;
}
.progress-bar {
  position: absolute;
  top: 802px;
  left: 1019px;
  width: 408px;
  height: 44px;
}
.progress-bar-child1 {
  position: absolute;
  top: 32px;
  left: 1px;
  background-color: #05ca6b;
  width: 287px;
  height: 12px;
}
.progress-bar1 {
  position: absolute;
  top: 866px;
  left: 1019px;
  width: 408px;
  height: 44px;
}
.progress-bar-child3 {
  position: absolute;
  top: 32px;
  left: 1px;
  background-color: var(--color-royalblue);
  width: 242px;
  height: 12px;
}
.progress-bar2 {
  position: absolute;
  top: 932px;
  left: 1019px;
  width: 409px;
  height: 44px;
}
.div25 {
  position: absolute;
  top: 2px;
  left: 376px;
  font-size: var(--font-size-base);
  color: var(--color-darkslateblue-300);
}
.progress-bar-child5 {
  position: absolute;
  top: 32px;
  left: 1px;
  background-color: #f9253f;
  width: 271px;
  height: 12px;
}
.progress-bar3 {
  position: absolute;
  top: 997px;
  left: 1019px;
  width: 408px;
  height: 44px;
}
.hospital-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 177px;
  height: 115px;
  object-fit: cover;
}
.pital3 {
  color: var(--color-black);
}
.hospital-txt1 {
  line-break: anywhere;
  width: 100%;
}
.hospital3 {
  position: absolute;
  top: 77px;
  left: 100px;
  letter-spacing: 0.1em;
  line-height: 50px;
  display: flex;
  align-items: center;
  width: 265px;
}
.hospital-1-group {
  position: absolute;
  top: 115px;
  left: 259px;
  width: 365px;
  height: 127px;
  text-align: center;
  font-size: var(--h3-size);
  color: var(--color-mediumblue);
}
.desktop-wallpaper-doctor-femal,
.sidebar-child1 {
  position: absolute;
  top: 468px;
  left: 361px;
  width: 191px;
  height: 248px;
}
.sidebar-child1 {
  top: 0;
  left: 23px;
  border-radius: 50%;
  background-color: var(--basic);
  box-shadow: 0 4px 15px 1px rgba(216, 210, 252, 0.64);
  width: 70px;
  height: 70px;
}
.man-1-icon1 {
  position: absolute;
  top: 6px;
  left: 26px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.sidebar-child2,
.sidebar-child3 {
  position: absolute;
  top: 172px;
  left: 30px;
  border-radius: var(--br-xl);
  background-color: var(--basic);
  box-shadow: 0 4px 15px rgba(216, 210, 252, 0.64);
  width: 64px;
  height: 64px;
}
.sidebar-child3 {
  top: 9px;
  left: 119px;
  border-radius: var(--br-5xs);
  width: 32px;
  height: 32px;
  opacity: 0.5;
}
.right-arrows-1-icon2 {
  position: absolute;
  top: 16px;
  left: 127px;
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.dashboard-icon-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--basic);
}
.dashboard-icon-child1,
.dashboard-icon-child2,
.dashboard-icon-child3,
.dashboard-icon-child4 {
  position: absolute;
  border: 2px solid var(--color-darkslateblue-100);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
}
.dashboard-icon-child2 {
  top: 19px;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--basic);
}
.dashboard-icon-child3,
.dashboard-icon-child4 {
  left: 19px;
}
.dashboard-icon-child3 {
  top: 0;
  border-radius: var(--br-7xs);
  background-color: var(--basic);
}
.dashboard-icon-child4 {
  top: 19px;
  border-radius: 50%;
  background-color: var(--color-mistyrose);
}
.dashboard-icon1 {
  position: absolute;
  top: 187px;
  left: 44px;
  width: 33px;
  height: 33px;
}
.appointment-1-icon1,
.power-2-icon1,
.setting-lines-1-icon1,
.team-1-icon1 {
  position: absolute;
  top: 284px;
  left: 42px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.power-2-icon1,
.setting-lines-1-icon1,
.team-1-icon1 {
  top: 377px;
  left: 44px;
}
.power-2-icon1,
.team-1-icon1 {
  top: 956px;
  left: 47px;
}
.team-1-icon1 {
  top: 474px;
  left: 44px;
  width: 27px;
  height: 27px;
}
.doctor-2-icon2,
.security-payment-2-icon1,
.setting-lines-2-icon1 {
  position: absolute;
  top: 572px;
  left: 44px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.security-payment-2-icon1,
.setting-lines-2-icon1 {
  top: 664px;
}
.security-payment-2-icon1 {
  top: 762px;
  left: 41px;
  width: 29px;
  height: 29px;
}
.admin1 {
  margin: 0;
  text-transform: uppercase;
}
.sarah-smith-admin-container1 {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 24px;
  font-weight: 900;
}
.sidebar1 {
  position: absolute;
  top: 182px;
  left: 120px;
  width: 151px;
  height: 982px;
  text-align: center;
  font-size: var(--text-hero-size);
}
.profile-doctor {
  position: relative;
  background: linear-gradient(
    118.7deg,
    #d8d2fc,
    #d8d2fc,
    #d8d2fc 0.01%,
    #fde2e0 28.35%,
    #e6e4ea 58.79%,
    #e0e9f4 99.99%,
    rgba(230, 225, 232, 0),
    #e0e9f4
  );
  width: 100%;
  height: 1405px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-body-size);
  color: var(--color-darkslateblue-100);
  font-family: var(--font-kanit);
}
